*{
    margin: 0px;
    padding: 0px;
}

/*Classes*/

.map1 {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}


.mainContainerMap1 {
    height: 720px;
    width: 1280px;
    background-image: url(../images/background_map.png);
    position: relative;
    top: 50px;
    z-index: 1;
    border: 5px solid black;
    margin: 0 auto;
    box-shadow: 1px 1px 100px 1px red;
    animation: pulse 0.8s infinite alternate;
}

/*Individual HTML elements*/

/*Stomach Image*/
#stomachPicture {
    top: 380px;
    left: 57px;
    margin-right: 500px;
    width: 300px;
    position: absolute;
    transform: rotate(28deg);
    opacity: 0.5;
}

/*Lungs Image*/
#lungsPicture {
    top: 170px;
    left: 790px;
    width: 400px;
    position: absolute;
    transform: rotate(-10deg);
    filter: drop-shadow(-20px 5px 50px white);
}


/*Keyframes*/
@keyframes pulse{
    0%{ box-shadow: 1px 1px 100px 1px red;}
    100% { box-shadow: 1px 1px 200px 1px red;}
}

/*Active,Hover,After, etc.*/

#lungsPicture:hover {
    transform: scale(1.1,1.1) rotate(-10deg);
}