*{
    margin: 0px;
    padding: 0px;
}

/*Classes*/

/*Transitions*/
.transitions {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

/*Main Container*/
.mainContainer {
    background-image: url(../images/several_vessels2.png);
    height: 720px;
    width: 1280px;
    position: relative;
    top: 50px;
    z-index: 1;
    border: 5px solid black;
    margin: 0 auto;
    box-shadow: 1px 1px 100px 1px red;
    animation: pulse 0.8s infinite alternate;
    overflow: hidden;
}

/*Individual HTML elements*/

/*Text*/
#title {
    top: 150px;
    left: 40px;
    font-family: sans-serif;
    font-size: 150px;
    color: beige;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
    border-color: red;
    border-width: medium;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease-in;
    animation: showTitle 6s linear forwards;
    filter: drop-shadow(50px 5px 100px black);
}
/*Bacteria*/
#bacteria {
    margin-top: 100px;
    margin-left: 0px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    display: block;
    filter: drop-shadow(10px 25px 30px black);
    animation: bacteriaAnimation 6s linear forwards;
}
/*Button*/
#nextButton {
background-color: darkred;
color:rosybrown;
z-index: 5;
cursor:pointer;
height: 125px;
width: 250px;
font-size: 35px;
border-radius: 18px;
position: absolute;
border-color: black;
left: 950px;
top: 530px;
transition: 0.5s;
animation: showbuttonlater 7s linear;
}

/* Animation for the button to make it appear later*/
@keyframes showbuttonlater {
    0% {opacity: 0%;}
    20% {opacity: 0%}
    40% {opacity: 0%}
    60% {opacity: 0%}
    80% {opacity: 20%}
    100% {opacity:100%}
}


/*Keyframes*/


/* Animation to create pulsating effect on main container */
@keyframes pulse{
    0%{ box-shadow: 1px 1px 100px 1px red;}
    100% { box-shadow: 1px 1px 200px 1px red;}
}

/* Animation to make the title appear later */
@keyframes showTitle {
    0% {opacity: 0%}
    20% {opacity: 0%;}
    40% {opacity: 0%;}
    60% {opacity: 0%;}
    80% {opacity: 20%;}
    100% {opacity:100%;}
}

/* Animation to make the bacteria float across container */
@keyframes bacteriaAnimation {
    0% {transform: rotate(10deg) translateX(0px) rotate(-50deg);}
    100% {transform: rotate(-20deg) translateX(1300px) translateY(650px) rotate(50deg);}
}

/*Active,Hover,After, etc.*/
#nextButton:hover {
    font-size: 45px;
    box-shadow: 1px 1px 40px 1px darkred;
}
